################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CoreBot/.vs/CoreBot/v15
/CoreBot/bin/Debug/netcoreapp2.1
/CoreBot/obj
